<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kurly.marketkurly.domain.Category" 		 alias="Category"/> 
		<typeAlias type="com.kurly.marketkurly.domain.Subcategory" 		 alias="Subcategory"/> 
		<typeAlias type="com.kurly.marketkurly.domain.Customer" 		 alias="Customer"/>
		<typeAlias type="com.kurly.marketkurly.domain.Member" 			 alias="Member"/>
		<typeAlias type="com.kurly.marketkurly.domain.Notice" 			 alias="Notice"/> 
		<typeAlias type="com.kurly.marketkurly.domain.OrderSummary" 	 alias="OrderSummary"/>
		<typeAlias type="com.kurly.marketkurly.domain.OrderDetail" 	 	 alias="OrderDetail"/>
		<typeAlias type="com.kurly.marketkurly.domain.PayMethod"		 alias="PayMethod"/>

		<!-- Product -->
		<typeAlias type="com.kurly.marketkurly.domain.Product" 			 alias="Product"/>
 		<typeAlias type="com.kurly.marketkurly.domain.ProductQnA"		 alias="ProductQnA"/>
		<typeAlias type="com.kurly.marketkurly.domain.Product_detail"	 alias="Product_detail"/>
		<typeAlias type="com.kurly.marketkurly.domain.Product_review" 	 alias="Product_review"/>
		<typeAlias type="com.kurly.marketkurly.domain.Product_hashtag" 	 alias="Product_hashtag"/>
		
	</typeAliases>

  <mappers>
    <mapper resource="com/kurly/marketkurly/mybatis/CategoryMapper.xml"/>
    <mapper resource="com/kurly/marketkurly/mybatis/SubcategoryMapper.xml"/>
    <mapper resource="com/kurly/marketkurly/mybatis/CustomerMapper.xml"/>
    <mapper resource="com/kurly/marketkurly/mybatis/MemberMapper.xml"/>
    <mapper resource="com/kurly/marketkurly/mybatis/OrderMapper.xml"/>
    <mapper resource="com/kurly/marketkurly/mybatis/PayMethodMapper.xml"/>
    <mapper resource="com/kurly/marketkurly/mybatis/ProductMapper.xml"/>
    <mapper resource="com/kurly/marketkurly/mybatis/NoticeMapper.xml"/>
  </mappers>
</configuration>