<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kurly.marketkurly.mybatis.ProductMapper">

	<resultMap type="Product" id="joinSubCategoryProduct">
		<id column="product_id" property="product_id"/>
		<result column="title" property="title"/>
		<result column="subTitle" property="subTitle"/>
		<result column="price" property="price"/>
		<result column="detail" property="detail"/>
		<result column="sale" property="sale"/>
		
		<association column="subcategory_id" property="subcategory" javaType="Subcategory" select="Subcategory.selectAllByCategoryId"/>
	</resultMap>

	<select id="selectAll" resultMap="joinSubCategoryProduct">
		select product_id, title, subTitle, price, detail, sale, product_img
		s.category_name as category_name, s.subcategory_id as subcategory_id, subcategory_name
		from subCategory s, product p
		where s.subCategory_id = p.subCategory_id 
	</select>

	<select id="select" parameterType="int" resultType="Product">
		select * from product where product_id=#{product_id}
	</select>

	<insert id="insert" parameterType="Product">
		insert into product(subCategory_id, title, subTitle, price, detail, sale, product_img)
		values(#{subCategory.subCategory_id},#{title},#{subTitle},#{price},#{detail},#{sale},#{product_img})
	</insert>
	
	<update id="update" parameterType="Product">
		
	</update>
	
	<delete id="delete"></delete>
</mapper>