<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kurly.marketkurly.mybatis.ProductMapper">

	<resultMap type="Product" id="joinSubCategoryProduct">
		<id column="product_id" property="product_id"/>
		<result column="title" property="title"/>
		<result column="subTitle" property="subTitle"/>
		<result column="price" property="price"/>
		<result column="detail" property="detail"/>
		<result column="sale" property="sale"/>
	</resultMap>

	<select id=""></select>


</mapper>