<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">

	<resultMap type="Product" id="joinSubCategoryProduct">
		<id column="product_id" property="product_id"/>
		<result column="title" property="title"/>
		<result column="subTitle" property="subTitle"/>
		<result column="price" property="price"/>
		<result column="detail" property="detail"/>
		<result column="sale" property="sale"/>
		<result column="product_img" property="product_img"/>
		
		<association column="subcategory_id" property="subcategory" javaType="Subcategory" select="Subcategory.select"/>
	</resultMap>
	<resultMap type="Product" id="selectDetail">
		<id column="product_id" property="product_id"/>
		<result column="title" property="title"/>
		<result column="subTitle" property="subTitle"/>
		<result column="price" property="price"/>
		<result column="detail" property="detail"/>
		<result column="sale" property="sale"/>
		<result column="product_img" property="product_img"/>
		
		<collection column="product_id" property="product_detail_list" javaType="java.util.List" ofType="ProductDetail" select="ProductDetail.selectByProductId"/>
		<collection column="product_id" property="product_hashtag_list" javaType="java.util.List" ofType="ProductHashtag" select="ProductHashtag.selectByProductId"/>
	</resultMap>
	<select id="selectAll" resultMap="joinSubCategoryProduct">
		select product_id, title, subTitle, price, detail, sale, product_img,
		s.subcategory_id as subcategory_id, subcategory_name
		from subCategory s, product p
		where s.subCategory_id = p.subCategory_id 
	</select>

	<select id="select" parameterType="int" resultType="Product" resultMap="selectDetail">
		select * from product where product_id=#{product_id}
	</select>
	<select id="selectByCategory" parameterType="int" resultType="Product">
		select * from product where subcategory_id = #{subcategory_id}
	</select>

	<insert id="insert" parameterType="Product">
		insert into product(subcategory_id, title, subTitle, price, detail, sale, product_img)
		values(#{subcategory.subcategory_id},#{title},#{subTitle},#{price},#{detail},#{sale},#{product_img})
		<selectKey keyProperty="product_id" resultType="int" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update" parameterType="Product">
		update product set subcategory_id = #{subcategory.subcategory_id}, title = #{title}, subTitle = #{subTitle}, price = #{price}, detail = #{detail}
		, sale = #{sale} where product_id = #{product_id} 
	</update>
	
	<delete id="delete" parameterType="int">
		delete from product where product_id = #{product_id} order by product_id desc
	</delete>
</mapper>